{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('main.fetch_raids') }}">Fetch Raids Manually</a>

<table class="highlight">
    <tr>
        <th>Titel</th>
        <th>Typ</th>
        <th>Datum</th>
    </tr>
    {% for raid in raids %}
        <tr>
            <td>{{ raid.title }}</td>
            <td>{{ raid.type }}</td>
            <td>{{ moment(raid.timestamp).format('LLL') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No raids found</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}