<!doctype html>
<html>
    <head>
        <!-- Materialize CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Google Material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% if title %}
        <title>{{ title }} - Baboon Platoon</title>
        {% else %}
        <title>Welcome to Baboon Platoon!</title>
        {% endif %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Baboon Platoon</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.raids') }}">Raids</a></li>
                    <li><a href="{{ url_for('main.players') }}">Players</a></li>
                    <li><a href="{{ url_for('main.debug') }}">Debug</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('main.login') }}">Admin</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        {{ moment.include_moment() }}
        {{ moment.locale(auto_detect=True) }}  
    </body>
</html>