{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>Namn</th>
        <th>Rank</th>
        <th class="right">Bänkpoäng</th>
        <th></th>
    </tr>
    {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>
                {{ player.rank }}
            </td>
            <td class="right">
                {% for _ in range(player.bp) %}
                    <img src="{{ url_for('static', filename='images/bench_baboon2.png') }}" class="responsive-img" style="width: 22px; height: auto;">
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No players found</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}